body {
  margin-top: 20px;

  text-align: middle;
}
.main-body {
  padding: 15px;
}

.h-100 {
  height: 100% !important;
}
.shadow-none {
  box-shadow: none !important;
}

.order-card {
  color: #fff;
}

.bg-c-blue {
  background: linear-gradient(45deg, #4099ff, #73b4ff);
}

.bg-c-green {
  background: linear-gradient(45deg, #2ed8b6, #59e0c5);
}

.bg-c-yellow {
  background: linear-gradient(45deg, #ffb64d, #ffcb80);
}

.bg-c-pink {
  background: linear-gradient(45deg, #ff5370, #ff869a);
}

.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
  box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
  border: none;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.card .card-block {
  padding: 25px;
}

.order-card i {
  font-size: 26px;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

.card-text {
  font-weight: bold;
  font-size: large;
  text-align: middle;
}

.pitchMode .bg-c-blue {
    background: linear-gradient(45deg, #29323d, #394049);
  }

  .pitchMode .bg-c-green {
    background: linear-gradient(45deg, #0c3b32, #2a6458);
  }

  .pitchMode .bg-c-yellow {
    background: linear-gradient(45deg, #644820, #8f7147);
  }

  .pitchMode .bg-c-pink {
    background: linear-gradient(45deg, #5f1f2a, #552d34);
  }

  #textMode{
    text-decoration-color: red!important;
}
  
.midnightMode span{
  color: rgba(255,255,255,.4)!important;
}
  
.midnightMode p {
    color: rgba(255,255,255,.4)!important;
}

.midnightMode #fullname-div {
    color: rgba(255,255,255,.4)!important;
}

.midnightMode #email-div {
    color: rgba(255,255,255,.4)!important;
}

.midnightMode #phone-div  {
    color: rgba(255,255,255,.4)!important;
}

.midnightMode #address-div  {
    color: rgba(255,255,255,.4)!important;
}
