body {
  margin-top: 20px;

  text-align: middle;
}
.main-body {
  padding: 15px;
}

.h-100 {
  height: 100% !important;
}
.shadow-none {
  box-shadow: none !important;
}

.order-card {
  color: #fff;
}

.bg-c-blue {
  background: linear-gradient(45deg, #4099ff, #73b4ff);
}

.bg-c-green {
  background: linear-gradient(45deg, #2ed8b6, #59e0c5);
}

.bg-c-yellow {
  background: linear-gradient(45deg, #ffb64d, #ffcb80);
}

.bg-c-pink {
  background: linear-gradient(45deg, #ff5370, #ff869a);
}

.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
  box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
  border: none;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.pitchMode .order-card {
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.card .card-block {
  padding: 25px;
}

.order-card i {
  font-size: 26px;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

.card-text {
  font-weight: bold;
  font-size: large;
  text-align: middle;
}

#user_profile {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  font-size: 3.5rem;
  color: #fff;
  text-align: center;
  line-height: 10rem;
  margin: 2rem 0;
}

.natureMode .bg-c-green {
  background: linear-gradient(45deg, #78c2ad, #78c2ae);
}

.pitchMode .bg-c-blue {
  background: transparent;
}

.pitchMode .bg-c-green {
  background: transparent;
}

.pitchMode .bg-c-yellow {
  background: transparent;
}

.pitchMode .bg-c-pink {
  background: transparent;
}

.midnightMode .bg-c-blue {
  background: transparent;
}

.midnightMode .bg-c-green {
  background: transparent;
}

.midnightMode .bg-c-yellow {
  background: transparent;
}

.midnightMode .bg-c-pink {
  background: transparent;
}

#textMode {
  text-decoration-color: red !important;
}

.midnightMode span {
  color: rgba(255, 255, 255, 0.4) !important;
}

.midnightMode p {
  color: rgba(255, 255, 255, 0.4) !important;
}

.midnightMode #fullname-div {
  color: rgba(255, 255, 255, 0.4) !important;
}

.midnightMode #email-div {
  color: rgba(255, 255, 255, 0.4) !important;
}

.midnightMode #phone-div {
  color: rgba(255, 255, 255, 0.4) !important;
}

.midnightMode #address-div {
  color: rgba(255, 255, 255, 0.4) !important;
}

.pitchMode #show_trash {
  color: #aaaaaa !important;
}

.pitchMode #show_unfin {
  color: #aaaaaa !important;
}
.pitchMode #show_fin {
  color: #aaaaaa !important;
}
.pitchMode #show_all {
  color: #aaaaaa !important;
}
.pitchMode h6 {
  color: rgba(255, 255, 255, 0.4) !important;
}

.pitchMode #showIcon {
  color: #aaaaaa !important;
}

.natureMode #user_profile{
  background: #78c2ad ;
}
.midnightMode #user_profile{
  background: #Df691a;
}

.classicMode #user_profile{
  background: #fff ;
}
.pitchMode #user_profile{
  background: #5a5a5a ;
}
