header {
    height: 900px;
    
}

div.desCards {
    background-color: aquamarine;
    margin: 10px;
    display: inline-block;
}
.des-icon {
    font-size: 3.8em;
    
}

#description {
    margin: 0;
}