#navbarSupportedContent {
    position: absolute;
    right: 30px;
}

#navHero{
    padding-left: 20px;
}

header {
    height: 900px;
    background-image: url(img/laptop-336373_1920.jpg);
    background-size: cover;
    background-attachment: fixed;
    
}

.headerDiv {
   
    padding-top: 15px;
    color: white;
}


section.container#description {
    
    background-color: #e5e5e5;
    height: 700px;
    width: 1920px;
    margin: 0;
   
}

div.col.desCards {
    padding: 50px;
    text-align: justify;
    width: 20%;
    margin: -25px;
    margin-top: 50px;
    
}


div.col.desCards i {
    font-size: 400%;
    text-align: center;
    vertical-align: center;
    padding-left: 56px;
    padding-bottom: 15px;
}